@{
    ViewBag.Title = "Home";
}
<h1>Home</h1>
<div class=list-group>
    <a asp-controller="Product" asp-action="Detail" asp-route-slugLink="Product-Of-The-Month">Product Of The Month</a>
    <a asp-controller="Product" asp-action="List">View Products</a>
    <a asp-controller="Product" asp-action="About">About Us</a>
</div>